* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: url('./1.jpeg');
    background-repeat: no-repeat;
    background-size: 1537px 750px;
}


nav {
    font-family: "Noto+Sans+JP";
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    color: white;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links {
    padding-left: 8rem;
    font-size: 1.2rem;
}

#logo {
    font-size: 1.7rem;
    font-family: "Akaya+Telivigala", cursive;
    color: #ffffff;
    font-weight: bold;
}

#big-text {
    color: rgb(167, 167, 167);
    font-size: 3.5rem;
    font-family:"Akaya+Telivigala", cursive;
    position: absolute;
    transform: translate(25%, 200%);
}